ekat-services.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- xsd - префикс, связанный с пространством имён "http://www.w3.org/2001/XMLSchema", можно выбрать и другое имя типа xs.
element - объявление элементов схемы
complexType - задаёт сложный тип т.е. может содежать в себе подэлементы
simpleType - простой тип
sequence - требует, чтобы подэлементы шли в строго указанной последовательности (сначала фамилия, потом имя, потом отчество, например)
type - тип элемента -->
<!-- targetNamespace штука необязательная, пока что она тут просто есть
в качестве tns подцеплён схема от смева, надо ли оно нам хз-->
<!-- maxOccurs и minOccurs определяют максимальное и минимальное вхождение элемента в xml для которого схема и пилится, дефолтное значение 1, unbounded — означает, что число вхождений не ограничено-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="ekat-services"
	xmlns:tns="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1" elementFormDefault="qualified">




	<!-- Используется для номера заявки -->
	<xsd:simpleType name="stringNN-20">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- +- Общие строковые типы? нужны ли они вообще-->

	<xsd:simpleType name="stringNN-50">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stringNN-250">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="250"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stringNN-500">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="500"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="string-2048">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2048"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!--технические типы-->
	<xsd:simpleType name="date">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:pattern value="[0-9]{2}[.][0-9]{2}[.][0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Персональная информация пользователя-->

	<xsd:simpleType name="gender">
		<xsd:restriction base="xsd:byte">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>Мужской</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>Женский</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>



	<xsd:complexType name="RecipientPersonalDataType">
		<xsd:annotation>
			<xsd:documentation>Данные о физическом лице</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fullfio" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>ФИО</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lastname" type="fio">
				<xsd:annotation>
					<xsd:documentation>Фамилия</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="firstname" type="fio">
				<xsd:annotation>
					<xsd:documentation>Имя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="middlename" type="fio" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Отчество</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="snils" type="snils" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>СНИЛС</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gender" type="gender" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Пол</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dateBirth" type="date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Дата рождения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="citizenship" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Гражданство</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Phone" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Телефон</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Email" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Электронная почта</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="regAddress" type="AddressType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Адрес регистрации</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocumentPersonal" type="tns:DocumentPersonalType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Данные Документа удостоверяющего личность</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ApplicantRightRecipient" type="tns:ApplicantRightRecipientType">
				<xsd:annotation>
					<xsd:documentation>Заявитель имеет право  на льготы, меры социальной поддержки и компенсацию по оплате жилого помещения и коммунальных услуг?</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ApplicantEligibilityRecipientContainer" type="tns:ApplicantEligibilityRecipientContainerType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Реквизиты документа, подтверждающего право на льготы, меры социальной поддержки и компенсации по оплате жилого помещения и коммунальных услуг</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>





	<xsd:complexType name="AddressType">
		<xsd:annotation>
			<xsd:documentation>
                Адрес
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="1" maxOccurs="1">
				<xsd:element name="townKladrCode" type="stringNN-50" minOccurs="0"/>
				<xsd:element name="streetKladrCode" type="stringNN-50" minOccurs="0"/>
				<xsd:element name="fiasHouseCode" type="stringNN-50" minOccurs="0"/>
			</xsd:choice>
			<xsd:element name="index" type="stringNN-50" minOccurs="0"/>
			<xsd:element name="town" type="stringNN-50" minOccurs="0"/>
			<xsd:element name="street" type="stringNN-50" minOccurs="0"/>
			<xsd:element name="house" type="stringNN-50" minOccurs="0"/>
			<xsd:element name="building" type="stringNN-50" minOccurs="0"/>
			<xsd:element name="apartment" type="stringNN-50" minOccurs="0"/>
			<xsd:element name="strAddress">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="300"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Контактная информация пользователя-->
	<xsd:simpleType name="EmailAddressType">
		<xsd:annotation>
			<xsd:documentation>Адрес электронной почты</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="256"/>
			<xsd:pattern value="[0-9a-zA-Z_.\-]{2,50}[@]{1}[0-9a-zA-Z_./-]{2,50}[.]{1}[a-zA-Z]{2,5}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="PhoneType">
		<xsd:annotation>
			<xsd:documentation>Телефонный номер</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="256"/>
			<xsd:pattern value="[0-9]{11}"/>
		</xsd:restriction>
	</xsd:simpleType>





	<!-- Тестовые куски какой-то там услуги-->
	<xsd:element name="applicationNumber">
		<xsd:simpleType>
			<xsd:annotation>
				<xsd:documentation>
                    Номер заявления в какой-то там услуге
				</xsd:documentation>
			</xsd:annotation>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="[0-9]"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>

	<xsd:simpleType name="FieldRadioType">
		<xsd:annotation>
			<xsd:documentation>Тип заявлния</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:byte">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>Документы к заявлению о зачислении в образовательное учреждение</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>Документы на комиссию для детей младше 6,6 лет или старше 8 лет (при необходимости)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>


	<!-- Документы -->
	<xsd:simpleType name="oktmo">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="snils">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="14"/>
			<xsd:pattern value="[0-9]{3}[-][0-9]{3}[-][0-9]{3} [0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="inn">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:pattern value="[0-9]{10}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ogrn">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="13"/>
			<xsd:pattern value="[0-9]{13}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="kpp">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="13"/>
			<xsd:pattern value="[0-9]{9}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="DocumentBlockType">
		<xsd:annotation>
			<xsd:documentation>Реквизиты документа, удостоверяющего личность</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DocName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Наименование документа, удостоверяющего личность</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocSeries" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Серия</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocDate" type="tns:date">
				<xsd:annotation>
					<xsd:documentation>Дата выдачи</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>




	<!--Получение выплат-->
	<xsd:complexType name="CreditBlockType">
		<xsd:annotation>
			<xsd:documentation>Укажите банковские реквизиты для перечисления выплаты</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CheckboxNameAndBIKOrgan" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Ввести реквизиты кредитной организации вручную</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BIKBankName" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>БИК или наименование банка получателя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BankName" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Наименование банка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bankBIK" type="tns:string-9" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>БИК</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="acountBank" type="tns:string-20" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Корреспондентский счет банка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AccountNumber" type="tns:string-20" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Номер счета заявителя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<!--Возможно рабочий варик вложений-->
	<xsd:complexType name="DocumentsType">
		<xsd:annotation>
			<xsd:documentation>Сведения о вложениях</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PremisesIeaseAgreement" type="tns:DocInfoType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Договор найма (поднайма) жилого помещения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DocInfoType">
		<xsd:annotation>
			<xsd:documentation>Сведения о вложении</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CodeDocument" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Код документа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Имя файла документа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="URL" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Относительный путь к файлу внутри архива</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="type" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>MIME-тип контента</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Номер заявки в лк, вроде как есть во всех ВС что я видела -->
	<xsd:complexType name="FormResponseType">
		<xsd:annotation>
			<xsd:documentation>Ответ на подачу заявления или запроса на отмену заявления или текстового сообщения от заявителя в ведомство</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="changeOrderInfo" type="tns:changeOrderInfoType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="FormResponse" type="tns:FormResponseType"/>
	<xsd:complexType name="changeOrderInfoType">
		<xsd:annotation>
			<xsd:documentation>Информация для изменения статуса заявления в ЛК ЕПГУ</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="orderId" type="tns:orderIdType"/>
			<xsd:element name="statusCode" type="tns:statusCodeType"/>
			<xsd:element name="comment" type="tns:string-2048" minOccurs="0"/>
			<xsd:element name="cancelAllowed" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="sendMessageAllowed" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="orderIdType">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation>Номер заявки в ЛК ЕПГУ</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="pguId" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="statusCodeType">
		<xsd:annotation>
			<xsd:documentation>Новый статус заявления</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="orgCode" type="tns:string-20">
				<xsd:annotation>
					<xsd:documentation>Код ведомственного статуса</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="techCode" type="tns:string-20">
				<xsd:annotation>
					<xsd:documentation>Код статуса ЕПГУ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>



</xsd:schema>
